/*adds a root style */
html { 
    box-sizing : border-box;
}

*,
*:before,
*:after {
    box-sizing : inherit;
}

/* styles the body */
body {
    background-color:#aad4cf;
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* sets a containing element and centers it */
.wrapper {
    max-width: 800px;
    margin: 0px auto 0px auto;
    background-color:  #d3eeeb;
}

/* styles the header */
.header .image {
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-size: 50rem;
    height: 230px;
}

.header .text {
    color: white;
    font-size: 38px;
    font-weight: normal;
    position: relative;
    top: -80px;
    left:280px;
 
}

nav ul {
    margin-top: -60px;
    text-align: center;
} 

nav li{
    display: inline;
    font-size: 20px;
}

/* Add a gray right border to all list items, except the last item (last-child) */
nav li {
    border-right: 2px solid #bbb;
}

nav li:last-child {
    border-right: none;
}

li a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    padding:85px ;
}

h2{
    font-size: 25px;
    font-weight: normal;
    padding: 5px;
    margin-bottom: 0;
}

/* float */
.clearfix::after {
    display: block;
    clear: both;
}

img {
    width : 200px;
    /* apply float */
    float : left;
    padding-right: 10px;
    padding-left: 10px; 
    padding-bottom: 20px;
}

p {
    margin: 1px 15px 20px 15px;
    font-size: 12px;
    padding: 0;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 5px;
}

ul{
    margin-left: -22px;
    font-size: 12px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    padding: 5px;
    margin: 0;
}

/* style the form */
form {
    border:1px solid black;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

label {
    font-size: 12px;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    padding: 2px;
    margin: 0;
}

/* style the radio button */
.style {
    font-size: 12px;
    margin-left:2px;
    margin-bottom:10px;
    margin-top: 10px;
}

/* style inputs and textarea */
input[type=text] {
    padding: 2px;
    width: 100%;
}  

textarea {
    width: 100%;
    height: 80px;
    padding: 15px;
}

/* style the submit button */
button {
    background-color: transparent;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    padding: 8px;
    font-size: 8px;
    margin-top: 1px;
    margin-left: 2px;
}

footer {
    text-align: right;
    padding-top: 30px;
    padding-bottom: 20px;
}
